* {
    -primary-color: #359C57;
    -secondary-color: #E13F18;
    -tertiary-color: #FFA707;
    -background-color: #EEEEEE;
}

.root {
    -fx-background-color: -background-color;
}

#cardGridPane {
    -fx-background-radius: 50;
    -fx-background-color: -primary-color;
}

#imagePane {
    -fx-background-image: url("../images/frame.png");
    -fx-background-size: contain;
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}

.list-view {
    -fx-border-color:  -primary-color;
    -fx-border-width: 4;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: white;
    -fx-border-color:  -primary-color;
    -fx-border-width: 4;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-text-fill: -primary-color;
    -fx-font-family: "Avenir Next";
    -fx-font-size: 24px;
}

.button.inverted {
    -fx-background-color: -primary-color;
    -fx-border-color:  -primary-color;

    -fx-text-fill: white;
}

.button.image {
    -fx-background-color: -background-color;
    -fx-border-width: 0;
}

Text {
    -fx-fill: -primary-color;
    -fx-font-family: "Avenir Next";
}

.text-field {
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: "Avenir Next";
}

.text-field.primary {
    -fx-border-color: -primary-color;
    -fx-font-size: 24px;
}

.text-field.secondary  {
    -fx-border-color: -secondary-color;
    -fx-font-size: 24px;
}

.text-field.tertiary {
    -fx-border-color: -tertiary-color;
    -fx-font-size: 18px;
}

.scroll-pane {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: grey;
}

.info {
    -fx-fill: black;
}

.rectangle {
    -fx-stroke-width: 4;
    -fx-stroke: -primary-color;
}




