/*Variables*/

* {
    -background-color: #EEEEEE;
}

.root {
    -fx-background-color: -background-color;
}

/*Buttons*/

.button {
    -fx-background-color: white;
    -fx-border-color:  -primary-color;
    -fx-border-width: 4;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-text-fill: -primary-color;
    -fx-font-family: "Avenir Next";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.button.inverted {
    -fx-background-color: -primary-color;

    -fx-text-fill: white;
}

.rounded {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

.button.image {
    -fx-background-color: -background-color;
    -fx-border-width: 0;
}

/*Text*/

Text {
    -fx-fill: -primary-color;
    -fx-font-size: 24px;
    -fx-font-family: "Avenir Next";
}

.text-field {
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: "Avenir Book";
}

.text-field.primary {
    -fx-border-color: -primary-color;
    -fx-font-size: 24px;
}

.text-field.secondary  {
    -fx-border-color: -secondary-color;
    -fx-font-size: 24px;
}

.text-field.tertiary {
    -fx-border-color: -tertiary-color;
    -fx-font-size: 18px;
}

.card-text {
    -fx-text-fill: -background-color;
    -fx-font-size: 12;
    -fx-font: "Avenir Book";
}

.list-card-text {
    -fx-text-fill: -background-color;
    -fx-font-size: 20;
    -fx-font: "Avenir Book";
}

.info {
    -fx-fill: black;
    -fx-font-family: "Avenir Book";
    -fx-font-size: 18px;
}

/*Panes and other components*/

.scroll-pane {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: grey;
}

.list-view {
    -fx-border-color:  -primary-color;
    -fx-border-width: 4;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.rectangle {
    -fx-stroke: -primary-color;
    -fx-stroke-width: 4;
}

/*Specific Elements*/

#cardGridPane {
    -fx-background-radius: 50;
    -fx-background-color: -primary-color;
    -fx-border-radius: 50;
    -fx-border-width: 2;
}

#imagePane {
    -fx-background-image: url("../images/frame.png");
    -fx-background-size: contain;
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}

.scroll-pane {
    -fx-border-width: 4;
    -fx-background-color: white;
    -fx-border-color: -primary-color;
}

